/*Now the CSS*/

* {margin: 0; padding: 0;}

.tree{
    position: absolute;
    left: 1%;
}
.tree ul {
  float: left;
	padding-left: 20px; position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	min-width: 300px;
  align-items: center;
  text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 0 20px 20px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    
    display: none;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 300ms visibility, 300ms transform, 300ms opacity;
}
.tree li.nodeone:first-child {
 display: flex;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
    
/*We will use ::before and ::after to draw the connectors*/
.tree li::before, .tree li::after{
	content: '';
	position: absolute; left: 0; bottom: 50%;
	border-left: 1px solid #000;
	width: 20px; height: 50%;
}
.tree li::after{
	bottom: auto; top: 50%;
	border-top: 1px solid #000;
}

.tree ul li input:checked + label + ul li {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.tree ul li input:checked + label .symbol:before {
   content:"-";
}


.tree ul li input {
    display: none;
}
/*We need to remove top-down connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}


/*Remove space from the left of single children*/
.tree li:only-child{ padding-left: 0;}

/*Remove top connector from first child and 
bottom connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: none 0;
}


/*Adding back the horizontal connector to the last nodes*/

.tree li:last-child::before{
	border-bottom: 1px solid #000;
	border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.pcount{
    padding:4px 10px;display: inline-block;background: black;color:white;
    }
	
.symbol{
    padding:4px 10px;display: inline-block;background: black;color:white;
    }
	.symbol:before{
		content:"+";
	}
.wadd{
    padding:4px 10px;
	
    }  
/*Time to add rightward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; left: 0; top: 50%;
	border-top: 1px solid #000;
	width: 20px; height: 0;
}

.tree li .item{
	min-width:fit-content;
	border: 1px solid #000;
	text-decoration: none;
	color: #000;
	font-family: arial, verdana, tahoma;
	font-size: 13px;
	display: inline-block;
	font-weight: 800;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-color: #e4e4e4;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/

.tree li .item:hover, .tree li .item:hover+ul li .item {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}

/*Connector styles on hover*/
.tree li .item:hover+ul li::after, 
.tree li .item:hover+ul li::before, 
.tree li .item:hover+ul::before, 
.tree li .item:hover+ul ul::before{
	border-color:  #94a0b4;
}